.Decoration {margin-left:0.3em; margin-right:0.3em; }
.ExecutionListStatusFailed {background-color:#ff0000; }
.ExecutionListStatusPassed {background-color:#00aa00; }
.ExecutionListStatusIncident {background-color:#ff00ff; }
.ExecutionListStatusSkipped {background-color:#aaaaaa; }
.ExecutionListStatusToBeCheckManually {background-color:#ff8000; }
.ExecutionListStatusUnknown {background-color:#ffffff; }
.HtmlExecutionListHeaderItem {background-color:#AAAAAA; font-weight:bold; }
.HtmlFragmentsManuallyValidatedTitle {text-decoration:none !important; }
.HtmlFragmentsUnexecutedTitle {text-decoration:none !important; }
.HtmlFragmentsExecutedTitle {text-decoration:none !important; }
.HtmlFragmentsDeadCodeTitle {text-decoration:none !important; }
.ExecutionListReference {font-style:italic; }
.HtmlInformationComparingReleaseModeDescription {font-style:italic; }
.HtmlInformationComparingExecutionModeDescription {font-style:italic; }
.HtmlGlobalCoverage {text-decoration:none !important; }
.HtmlMetricContain {text-align:left; padding-left:3em; padding-right:3em; vertical-align:top; }
.HtmlStatisticMetric {text-decoration:none !important; }
.GlobalInformation {border-width:0; width:100%; padding-left:3em; padding-right:3em; }
.HtmlInformationCoverageMethodDescription {font-style:italic; }
.HtmlInformationCoverageModeDescription {font-style:italic; }
.HtmlInformation {text-decoration:none !important; }
.HtmlStatisticSourceTitle {text-decoration:none !important; }
.HtmlStatisticExecutionTitle {text-decoration:none !important; }
.HtmlStatisticMethodTitle {text-decoration:none !important; }
.HtmlStatisticOptimizedExecutionOrderTitle {text-decoration:none !important; }
.HtmlStatisticClassTitle {text-decoration:none !important; }
.HtmlStatisticDirectoryTitle {text-decoration:none !important; }
.MethodStatistics {width:100%; padding-left:3em; padding-right:3em; }
.OptimizedExecutionOrderStatistics {width:100%; padding-left:3em; padding-right:3em; }
.ClassStatistics {width:100%; padding-left:3em; padding-right:3em; }
.DirectoryStatistics {width:100%; padding-left:3em; padding-right:3em; }
.GlobalStatistic {width:100%; padding-left:3em; padding-right:3em; }
.ExecutionStatistics {width:100%; padding-left:3em; padding-right:3em; }
.SourceStatistics {width:100%; padding-left:3em; padding-right:3em; }
.HtmlCodeFragment {white-space:nowrap; margin-bottom:0.5em; margin-top:0.5em; margin-left:.5em; margin-right:.5em; font-style: normal; font-weight:normal; font-family:"Times New Roman", Times, serif; }
.SourceCode {white-space:pre; font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; }
.Comment {background-color:#ffff80; }
.ExecutionStateExecutionCountTooLow {color:#d50000; }
.ExecutionStateExecuted {color:#00aa00; }
.ExecutionStateNone {color:#ffffff; }
.ExecutionStateNotExecuted {color:#d50000; }
.ExecutionStateHidden {color:#808080; }
.NoteTitle {font-weight:bold; }
.Line {color:#5a5a5a; font-style:italic; }
.HtmlExecutedByTitle {font-style:italic; }
.ExecutedByItem {font-family:monospace; }
.HtmlExecutionCountTitle {font-style:italic; }
.HtmlExecutionCountValue {font-family:monospace; }
.FragmentExplanationTrueFalseTable {padding: 1px 1px; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-box-shadow: 0.2em 0.2em 0.2em #CCC; -webkit-box-shadow: 0.2em 0.2em 0.2em #CCC; box-shadow: 0.2em 0.2em 0.2em #CCC; border-spacing: 0px; margin-left: auto; margin-right: auto; }
.HtmlExplanationTrueFalseTableHeader {border: none; }
.HtmlExplanationTrueFalseTableHeaderItem {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.HtmlExplanationTrueFalseTableContain {border: none; }
.ExplanationFalseCase {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTrueCase {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.StatusPartiallyExecuted {color:black; background-color:#ffac58; }
.StatusUnexecuted {color:black; background-color:#ff7575; }
.StatusUnexecutedInfo {color:black; background-color:#ffdede; }
.StatusDeadCode {color:black; background-color:#ffbfff; }
.StatusExecuted {color:black; background-color:#2aff2a; }
.StatusExecutedInfo {color:black; background-color:#d1ffd1; }
.StatusManuallyMarktAsExecuted {color:black; background-color:#bfbfff; }
.StatusManuallyMarktAsExecutedInfo {color:black; background-color:#dedeff; }
.StatusUnknown {color:black; background-color:#e0e0e0; }
.StatusNone {color:black; background-color:#ffffff; }
.StatusHidden {color:black; background-color:#e0e0e0; }
.CodeFragment {border-width:0; width:100%; padding-left:3em; padding-right:3em; }
.CodeFragmentItemCommentHtml {background-color:#ffff80; }
.CodeFragmentItem {margin-top:3em; list-style-type: none; }
.CodeFragmentItemExplanation {width:100%; }
.TreeListChecked {background: url("data:image/x-png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkdDiUjC4m2UwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABeklEQVQoz5WST0sbYRCHn3nzxl2sFfOHxMSkoBBJpUo99FARghEKgtBDBemtCPEmePYrCMazgfoFWnoRSr0IRcGW0oN4scW2oofSVF1wI0TYdz1IorLx4O80ML9nZpgZWSqXfe4pDTBbKt1t0BoRwfM8jDGsVCpXEMD6xlYA6Ekl2f3p8ON3ldLr56QSketODWUzmWYsIvQ+6mHp7TuOnRrFP/9JJ6NBqCGlhFiki89ff3Hi1OjNxhjKd2OMucrfNLe328RjXdhWG9FIJx8+7aCUYnpyGLfmXhdtBMlEHPccNr8d0p2Isv39gOpxjWw6wuizPi7qF7e3B5BKxlle/cLe/j+e9Kd5/3EHpYRXE08xxmDZdrDT6anD/EwBEWFhcY2jvw6J2EPGRnIYYwiHdRCq1+t0PLAYH+1HEESEly8GEXyUUoS1Do6nQwrnpMrUxBCCj9YhiiM5zlwX3/iEQi2ggcf55n3m3hTwfR/P87Atq/UbrVQq9/q9SxQ0a9NxIxEgAAAAAElFTkSuQmCC"); background-position:center center; background-repeat:no-repeat; height:13px; width:13px; display:inline-block; }
.TreeListPartiallyChecked {background: url("data:image/x-png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkdDiQ6dvkv0gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA/ElEQVQoz5XSvU1DUQyG4fdKrJIRGAU2CCUVG9BDTW7PAAgJWAEkGnZgguT45xzbFOFHiFuQr3Px2Jbs6er6ujgwRwBn6/W/wWae9wjg+PyGiemzKqqKqoQMKoLKwet88TPpKydnp4weeB+YDVwdVcOa8vL0+Hu9ffNk+OD+fQeZVAbVO+nOyoQa/hdVJmZOjfENyo10Q3aNcF1CA1MnXT+Bk26ECrJV0mUBxcCakK2RbqQpqUKq0radWELZHdkKsdsSKqQ0Qhrlhgpkt4VJw9FdYxUdNUeaIRK4g3n8PS5AxuD54Y7sQrhSMb5Ots+0gN5uLw97o808H/R7H+fq1RGo/8n/AAAAAElFTkSuQmCC"); background-position:center center; background-repeat:no-repeat; height:13px; width:13px; display:inline-block; }
.TreeListUnchecked {background: url("data:image/x-png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkdDiUQtFnXRQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA0klEQVQoz5XSMU5DQQyE4X/tGe9yh9ADLRISBwrHIX1yExoqrpIm3OFRJOEp5BXE0nb7aWzL7X2zmbixBPC2Xv8bbHe7IwL4+Pxa/NRaw066xevL85x0rvvV6gJYiS3KyX6/v2zvb0U0LFGlIzy9RRQRZAbKoJcoCynJCKp8jaRkdGMlZTG6kURrDYAx7q5RndAxwdgmc25pjLGcVBaWyEwyk4igtcY0TdhaSPJ5Bv2CiJjXrgU0enE4fNN7x2Wqap5pgswF9PT4cNsZbXe7m27vB05fF6GDaN3+AAAAAElFTkSuQmCC"); background-position:center center; background-repeat:no-repeat; height:13px; width:13px; display:inline-block; }
.ItemDuration {white-space:pre; font-family:monospace; }
.ItemStatistic {white-space:pre; font-family:monospace; }
.ItemFunctionScopedName {margin:0; padding:0; font-size:normal; font-family:sans-serif; }
.ItemFunctionSource {margin:0; padding:0; font-size:xx-small; font-family:monospace; }
.ItemFunctionPrototype {margin:0; padding:0; font-size:xx-small; font-stretch:ultra-condensed; font-family:monospace; }
.HtmlItemTitle {font-weight:bold; background-color: #DFD; background: -moz-linear-gradient(top, #DFD, #9C9);; background: -webkit-gradient(linear, left top, left bottom, from(#DFD), to(#9C9)); color: #17731f; }
.SourceCode_String {color:#404000; }
.SourceCode_Operator {color:#600060; }
.SourceCode_Preprocessor {color:#404080; }
.SourceCode_Keyword {color:#800080; font-weight: bolder; }
.SourceCode_Comment {color:gray; }
.SourceCode_ModifiedComment {font-weight: bolder; }
.SourceCode_InsertedText {font-weight: bolder; text-decoration: underline; }
.SourceCode_RemovedText {font-weight: bolder; text-decoration: line-through; }
.HtmlToolTip {position: relative; text-decoration: none; }
.HtmlTip {z-index: 10; display: inline; visibility: hidden; padding: 0.2em 0.2em; position: absolute; color: black; left: -3em; top: 1.5em; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-box-shadow: 0.5em 0.5em 0.5em #CCC; -webkit-box-shadow: 0.5em 0.5em 0.5em #CCC; box-shadow: 0.5em 0.5em 0.5em #CCC; border: 1px solid #888888; background: #fffAF0; overflow: visible; }
.SourceCode_Line {padding: 0em 0em; margin: 0em 0em; }
.SourceCode_Text {border: thin solid gray; padding:0em; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; width:100%; }
.SourceCode_LineNumber {font-size:x-small; text-align:right; font-family:monospace; padding-bottom:0em; padding-top:0em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_LineCount {font-size:x-small; white-space:nowrap; font-family:monospace; border-left: thin dashed gray; padding-bottom:0em; padding-top:0em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_LineText {width: 100%; font-family:monospace; white-space:pre-wrap; border-left: thin dashed gray; padding-bottom:0em; padding-top:0em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_TitleCount {border-left: thin dashed gray; padding-bottom:0.5em; padding-top:0.5em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_TitleText {border-left: thin dashed gray; padding-bottom:0.5em; padding-top:0.5em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_TitleNumber {padding-bottom:0.5em; padding-top:0.5em; padding-right:0.5em; padding-left:0.5em; }
.SourceCode_LineNumberLink {color: black; text-decoration: none; }
.HtmlInformationSourceFile {border-spacing:0px; margin-left:1em; margin-right:1em; margin-bottom:1em; margin-top:0em; }
.HtmlInformationSourceFileItem {font-size:small; }
.HtmlInformationSourceFileDescription {font-style:italic; padding-left: 0.5em; padding-right: 0.5em; }
.HtmlInformationSourceFileValue {font-family:monospace; padding-left: 0.5em; padding-right: 0.5em; }
.HtmlPathNavigation {text-align:left; padding:0em; margin-left:3em; margin-right:3em; background-color: #DFD; background: -moz-linear-gradient(top, #DFD, #9C9);; background: -webkit-gradient(linear, left top, left bottom, from(#DFD), to(#9C9)); }
.HtmlPathNavigationTitle {text-align:center; font-weight:bold; padding-left:0.2em; padding-right:0.2em; }
.HtmlPathNavigationCurrentPath {color: #17731f; text-align:center; padding-left:0.2em; padding-right:0.2em; font-weight:bold; }
.HtmlPathNavigationPath {text-align:center; padding-left:0.2em; padding-right:0.2em; }
.HtmlPathNavigationSpacer {text-align:center; padding-left:0.2em; padding-right:0.2em; }
.HtmlPageNavigation {text-align:left; margin-top:1em; margin-bottom:1em; margin-left:3em; margin-right:3em; }
.HtmlPageNavigationTitle {background-color: #FFF; text-align:center; font-weight:bold; padding-left:0.5em; padding-right:0.5em; }
.HtmlPageNavigationCurrentPage {background-color: #DFD; color: #17731f; text-align:center; border:1px solid; border-color:#17731F; border-spacing:0px; padding-left:0.5em; padding-right:0.5em; font-weight:bold; }
.HtmlPageNavigationPage {background-color: #FFF; text-align:center; padding-left:0.3em; padding-right:0.3em; }
.HtmlPageNavigationPageDisabled {background-color: #FFF; text-align:center; padding-left:0.3em; padding-right:0.3em; color:#CCC; }
.HtmlPageNavigationSpacer {background-color: #FFF; text-align:center; padding-left:0em; padding-right:0em; color:#CCC; }
.HtmlSortPage {color: #17731f; }
.ExplanationTruthTable {padding: 1px 1px; border-radius: 0.5em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-box-shadow: 0.2em 0.2em 0.2em #CCC; -webkit-box-shadow: 0.2em 0.2em 0.2em #CCC; box-shadow: 0.2em 0.2em 0.2em #CCC; border-spacing: 0px; margin-left: auto; margin-right: auto; }
.ExplanationTruthTableItem {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableHeader {border: none; }
.ExplanationTruthTableHeaderItemPartiallyValidated {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; text-align: center; background-color: #ffac58; }
.ExplanationTruthTableHeaderItemUnvalidated {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; text-align: center; background-color: #ff7575; }
.ExplanationTruthTableHeaderItemValidated {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; text-align: center; background-color: #2aff2a; }
.ExplanationTruthTableHeaderItem {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; text-align: center; }
.ExplanationTruthTableDescription {border: none; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; font-style:italic; }
.ExplanationTruthTableContain {border: none; }
.ExplanationTruthTableItemPartiallyExecuted {border: none; text-align: center; background-color: #ffac58; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemUnexecuted {border: none; text-align: center; background-color: #ff7575; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemUnexecutedInfo {border: none; text-align: center; background-color: #ffdede; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemDeadCode {border: none; text-align: center; background-color: #ffbfff; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemExecuted {border: none; text-align: center; background-color: #2aff2a; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemExecutedInfo {border: none; text-align: center; background-color: #d1ffd1; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemManuallyMarktAsExecuted {border: none; text-align: center; background-color: #bfbfff; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemManuallyMarktAsExecutedInfo {border: none; text-align: center; background-color: #dedeff; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemUnknown {border: none; text-align: center; background-color: #e0e0e0; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemNone {border: none; text-align: center; background-color: #ffffff; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.ExplanationTruthTableItemHidden {border: none; text-align: center; background-color: #e0e0e0; padding-bottom:0.5em; padding-top:0.5em; padding-right:2em; padding-left:2em; }
.Metrics {border-width:0; padding-left:0em; padding-right:0em; vertical-align:top; }
.GlobalMetric {border-width:0; width:100%; padding-left:3em; padding-right:3em; vertical-align:top; }
.GlobalMetricTitle {font-style:italic; text-align:right; vertical-align:top; }
.GlobalMetricValue {text-align:right; vertical-align:top; }
.FunctionMetric {border-width:0; width:100%; padding-left:3em; padding-right:3em; vertical-align:top; }
.FunctionMetricTitle {font-style:italic; text-align:right; vertical-align:top; }
.FunctionMetricValue {text-align:right; vertical-align:top; }
.SourceMetric {border-width:0; width:100%; padding-left:3em; padding-right:3em; vertical-align:top; }
.SourceMetricTitle {font-style:italic; text-align:right; vertical-align:top; }
.SourceMetricValue {text-align:right; vertical-align:top; }
.MetricTableItemTitle {font-style:italic; text-align:right; }
a:visited { color: #17731F; text-decoration:none; }
a:hover { text-decoration:underline; }
a:link { color: #46880F; text-decoration:none; }
h1 { color: #17731f; }
h2 { color: #17731f; }
h3 { color: #17731f; }
h4 { color: #17731f; }
.HtmlToolTip:hover .HtmlTip {   visibility: visible; }
.HtmlToolTip:hover .HtmlTip:hover {  visibility: hidden;}
.HtmlTip:before, .HtmlTip:after {  bottom: 100%;  border: solid transparent;  content: " ";  height: 0;  width: 0;  position: absolute;  pointer-events: none;}
.HtmlTip:after {  border-color: rgba(255, 250, 240, 0);  border-bottom-color:  #fffAF0;  border-width: 10px;  left: 3em;  margin-left: -10px;}
.HtmlTip:before {  border-color: rgba(136, 136, 136, 0);  border-bottom-color: #888888;  border-width: 11px;  left: 3em;  margin-left: -11px;}
